/* stylelint-disable stylistic/selector-list-comma-newline-after */

  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }

  .flex-auto {
    flex: 0 0 auto;
  }


  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }

  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }

  /*
  * Blog posts
  */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

  img {
    display: block; /* 將圖片設置為塊級元素 */
    /*margin-left: 130%; /* 左邊的 margin 設為 auto */
      /* 右邊的 margin 設為 0 */
  }
  .move-up {
    position: relative; /* 使用相對定位 */
    top: -38px;
    border-radius: 50%;
    display: block; /* 將圖片設置為塊級元素 */
    margin-left: 130%; /* 左邊的 margin 設為 auto */
    /* 負值表示向上移動的距離，可以根據需要調整 */
  }
  .move-left {
    position: relative; /* 使用相對定位 */
    margin-left: -0px; /* 負值表示向上移動的距離，可以根據需要調整 */
  }
  .head img {
    display: block; /* 將圖片設置為塊級元素 */
    margin-left: 130%; /* 左邊的 margin 設為 auto */
      /* 右邊的 margin 設為 0 */
  }

  body {
    font-family: "Open Sans", sans-serif;
    
    margin: 0;
  }


  .dice {
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .roll-animation {
    animation-name: roll;
  }

  @keyframes roll {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
      transform: rotateY(720deg) rotateX(720deg);
    }
  }

  button {
    background-color: #47a5c4;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2e8baf;
  }

  ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    
  }

/*li {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

/*li span {
  font-size: 3rem;
  margin-right: 1rem;
}*/
